<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.resrclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResrClient"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.activity_favourites"></activity>
        <activity android:name=".activities.activity_growspace" />
        <activity android:name=".activities.activity_progress" />
        <activity android:name=".activities.activity_startseite" />
        <activity android:name=".activities.activity_review" />
        <activity android:name=".activities.activity_createGS" />
        <activity android:name=".activities.activity_editGS" />
        <activity android:name=".activities.activity_regiestrierung"/>
        <activity android:name=".activities.activity_sentReview"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".activities.activity_logIn"
            android:label="@string/app_name"
            android:theme="@style/Theme.ResrClient.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>